*{
    font-family: 'Inter', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
}
#product-container{
    display: flex;
    
}
#container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 50px;
    margin-top: 50px;
    margin-left: 50px;
}
.card{
 
 width: 70%;
 box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
#image{
width: 100%;
}

#cart-container{
    border: 2px solid mediumaquamarine;
    padding: 170px;
    height: 150px;
    margin-right: 50px;
    margin-top: 50px;
}

#container h2{
    font-size: 17px;
    margin-left: 10px;
}
#desc{
    font-size: 13px;
    margin-left: 10px;

}
#sidebar{
    position: absolute;
    width: 600px;
    height: 100%;
    background-color: #fff;
    transition: 0.3s ease;
    left: -600px;
    margin: auto;
}
#sidebar.active{
    left: 0;
    transition: 0.5s ease;
}
.sideimage{
    width: 100%;
}

.sideprice{
    color: #fff;
    margin-left: 30px;
    margin-bottom: 50px;
}

.headings{
    border: 2px solid black;
    margin-top: -80px;
}
